* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-top: 5px;
}

.image-preview {
    width: 150px;
    height: 150px;
    position: relative;
}

.image-preview img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#cancleImage {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 100%;
    background-color: black;
    width: 22px;
    height: 22px;
}